<div id="container">


  <%= render "header" %>


  <div id="main-right">
    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>

      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>
    <h3>Serving Central Valley wineries and vineyards</h3>

    <p> Whether you are a home winemaker, grape grower or an existing fully operational family winery, Valley Wine Works
      can assist with creating a plan or ‘Road Map’ which will assure efficient utilization of resources and greatly
      increase brand appeal at retail and with consumers.
    </p>

    <%= image_tag('../../../images/wine-store-lodi-wine-industry-consulting-mark-fedorchak.jpg') %>

  </div>


  <div id="main">
    <h1>Welcome to Valley Wine Works</h1>

    <h2>Wine Industry Consulting Services</h2>

    <div id="home_text">

      <%= image_tag('../../../images/zinfandel-lodi-vinyard-wine-business-help.jpg') %>

      <p>Most new businesses begin as an inspiration, often driven by opportunity and frequently simple passion. For
      this reason, many new wineries are built and brands launched because the founders have access to wine grapes
      and/or out of pure love for the pleasures of wine and the lifestyle associated with it. However, this can also
      be the beginning of an unfamiliar and often frustrating journey for many.</p>

      <p class="main_content">At Valley Wine Works we work with concept or existing wineries and their respective
        principals, management and
        workforce to establish well conceived business plans and to consider every facet of today’s very complex wine
        industry.</p>

      <p class="main_content">Many people think of marketing and sales as being synonymous terms.  Related yes, but very different disciplines with individual needs.
         By definition, marketing explores the opportunities and works to create demand.
        Sales acts to place the item(s) into the chosen channels accessible to consumers, who it is hoped, will be compelled to a purchase decision (conversion), and based on the efforts and message of marketing.  We will also suggest key marketing tools, critical to creating trade and consumer awareness and demand.
        </p>

    <%= image_tag("../../../images/wine-glass-bottle-table-smaller.jpg") %>
      <p class="main_content">We will also offer direction on tapping into the many channels for distribution of a
        product, as well as wholesale and retail opportunities, both on premise (restaurants, hotels) and retail (independent and chain
        grocery and drug stores). We will also consider the lesser-known and emerging means of executing a wine product,
        such as the internet, direct-to-consumer, wine clubs, etc.</p>
    </div>


  </div>


  <%= render "footer" %>


</div>
