<div id="container">


  <%= render "header" %>



  <div id="services-main-right">
    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>

      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>


    <h3>Additional Services</h3>
    <p>In addition to identifying business and marketing solutions, we can provide guidance and support services to
      maximize efficiencies and to assure proper handling of products.</p>
    <%= image_tag("../../../images/wine-event-central-valley-mark-fedorchak-additional-services.jpg") %>


  </div>


  <div id="main">

    <h1>Services </h1>

    <h2>Wine Industry Consulting Services</h2>

    <p>A comprehensive business plan will be prepared and presented to the appropriate leadership of the winery, with
      critical success factors emphasized and an action plan agreed upon.</p>
    <br/>

    <p>We will explore the client winery’s goals, logistics, infrastructure and available resources, in developing
      strategic plans aimed at maximizing efficiencies, brand positioning and ultimately profitability.</p>
    <%= image_tag("../../../images/vinyard-low-view-clouds-zinfandel.jpg") %>
    <%= image_tag("../../../images/wine-barrels-row-winery-smaller.jpg") %>
    <%= image_tag("../../../images/wine-bottling.jpg") %>



    <div id="services_list">
      <ul>
        <li>Vineyard Selection and Management</li>
        <li>Harvest, Crush, and Processing</li>
        <li>Winemaking consultation</li>
        <li>Bulk Wine Sourcing</li>
        <li>Brand Development and Packaging</li>
        <li>Bottling</li>
        <li>Warehousing</li>
        <li>Transportation and Storage (Bulk Wine and Case Goods)</li>
        <li>Harvest & Crush Equipment</li>
        <li>Vineyard Management</li>
        <li>Winemaking</li>
        <li>Sales Execution</li>
        </li>

      </ul>
    </div>


  </div>

  <%= render "footer" %>


</div>
